.x-flex{
    &-vertical{
        display: flex;
        align-items: center;
    }
    &-between{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-center{
        display: flex;
        align-items: center!important;
        justify-content: center!important;
    }
    &-top{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
